<!DOCTYPE html>
<html>
<head>
	<% include templates/head %>
</head>
<body>
	<div>
		<div>
			<% include templates/navigationbar %>
		</div>
		 
		<div class="container container-top">
			<section>
				<div class="panel panel-default">
  					<!-- Default panel contents -->
  					<div class="panel-heading">
  						<h3><%= title %></h3>
  					</div>
					 	<table class="table table-hover table-bordered">
			 	               <thead>
			 	               <tr>
			 	                   <th>ID</th>
			 	                   <th>Email</th>
			 	                   <th>UserName</th>
			 	                   <th>Password</th>
			 	                   <th>Created Time</th>
			 	                   <th>Updated Time</th>
			 	               </tr>
			 	               </thead>
			 	               <tbody>
			 	               <% userlist.forEach(function(data){ %>
			 	                   <tr class="user-tr-<%= data._id %>">
			 	                       <td><%= data._id %></td>
			 	                       <td><%= data.email %></td>
			 	                       <td><%= data.userName %></td>
			 	                       <td><%= data.password %></td>
			 	                       <td><%= data.meta.createdTime %></td>
			 	                       <td><%= data.meta.updatedTime %></td>
			 	                   </tr>
			 	               <% }) %>  
			 	               </tbody>
		 	           </table>
		 	        <div>
				</div>
			</section>	

		</div>
		
		<div>
			<% include templates/footer %>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/libs/jquery/dist/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="/libs/seajs/dist/sea.js"></script>

	<% include templates/body-end %>
</body>
</html>